body{
    background-color: black;
}
h1,a,p,h2,label{
    color: rgb(206, 206, 0);
}
a,#btnTmnLetra,#btnContraste{
    margin-right: 2px;
}
header{
    margin: 30px;
    width: auto;
    text-align: center;
}
nav{
    margin: 20px;
    text-align: center;
}
#Contenido{
    margin: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
#QuienesSon,#Inicios,#LinksRRSS,#CancionMasConocida,#Contacto{
    text-align: center;
}
#formulario{
    width: 100%;
    display: grid;
    box-sizing: border-box;
}
input,textarea,button,select{
    background-color: black;
    color: rgb(206, 206, 0);
    border-color: white;
}

label{
    margin-top: 15px;
}
#btnEnviar{
    margin-top: 15px;
}
#tycConfirmarSeccion, #RecibirNovSeccion{
    display: flexbox;
    margin-top: 15px;
}