body{
    background-color: black;
}
h1,a,p,h2,label,table{
    color: white;
}
a,#btnTmnLetra,#btnContraste{
    margin-right: 2px;
}
header{
    margin: 30px;
    width: auto;
    text-align: center;
}
nav{
    margin: 20px;
    text-align: center;
}
#Contenido{
    margin: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
#QuienesSon,#Inicios,#LinksRRSS,#CancionMasConocida,#Registro{
    text-align: center;
}
#formulario{
    width: 100%;
    display: grid;
    box-sizing: border-box;
}
input,textarea,button,select{
    background-color: black;
    color: white;
    border-color: white;
}

label{
    margin-top: 15px;
}
textarea{
    margin-bottom: 15px;
}
#btnEnviar{
    margin-top: 15px;
}
#TyCdiv, #RecibirNovSeccion{
    display: flexbox;
    margin-top: 15px;
}
#pnombre,#papellido,#ppais,#pcorreo,#pgenero,#pTyC,span{
    color: red;
}
table{
    border: 2px solid;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
th,td{
    padding: 20px;
}
#btnActualizar{
    margin-top: 15px;
    display: none;
}